[Desktop Entry]
Encoding=UTF-8
Name=ALSA Volume Control
Type=Service
ServiceTypes=Plasma/Applet
Icon=/usr/share/kde4/apps/plasma/plasmoids/kde-plasma-alsa-volume/contents/icons/sound.png
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Fl@sh
X-KDE-PluginInfo-Email=no@mail.me
X-KDE-PluginInfo-Name=kde-plasma-alsa-volume
X-KDE-PluginInfo-Version=0.38
X-KDE-PluginInfo-Website=https://github.com/F1ash/plasmaVolume
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
